<!doctype html>
<html>
<head>
    <title>Workers List</title>
</head>
<body>
    <h2>Workers List</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>aadhar No.</th>
        </tr>
        {% for worker in workers %}
        <tr>
            <td>{{ worker.id }}</td>
            <td>{{ worker.name }}</td>
            <td>{{ worker.contact_no }}</td>
            <td>{{ worker.aadhar_no }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('site_engineer_dashboard') }}">Back to Dashboard</a>
</body>
</html>